/* Components Styling */
.logo {
  font-size: 2rem;
  color: #800020;
  font-weight: bold;
}

nav a {
  margin: 0 1rem;
  color: #333;
  font-weight: 600;
}

nav a:hover {
  color: #800020;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #800020;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #550015;
}

.main-btn {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

.hero {
  background-color: #ffffff;
  padding: 3rem 0;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: #800020;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
}

.subtext-cta-row {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.subtext {
  position: relative;
  left: 20px;
  width: 500px;
  text-align: justify;
  font-size: 1rem;
  color: #777;
}

.subtext-cta-row .button2 {
  align-self: center;
  white-space: nowrap;
}

footer {
  background-color: #800020;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer p {
  font-size: 1rem;
}

/*Custom for login and sign up buttons*/
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow:
    inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #800020;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #800020;
}

.button2:hover:before {
  top: -35%;
  background-color: #800020;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #800020;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
